@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles for light/dark mode */
:root {
  --background: white;
  --text: black;
}

.dark {
  --background: #111827;
  --text: white;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Optional: Add transitions for smoother theme switching */
* {
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
}

.app{
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.main{
  scrollbar-width: none;
  scroll-behavior: smooth;
}
